.p{
    width: 30%;
    height: 30vh;
    margin: 20px 5px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: 0.3s all ease-in;
}

.p-browser{
    height: 20px;
    background: linear-gradient(124deg, #000272 0%, #ac1dff 100%);
    display: flex;
    align-items: center;
}

.p-circle{
    height: 6px;
    width: 6px;
    border-radius: 50px;
    background-color: white;
    margin: 3px;
}

.p-img{
    width: 100%;
    height: 85%;
    object-fit:contain;
    padding-top: 7px;
    transition: 0.3s all ease-in;

}

.p:hover{
    transform: scale(1.1);
}

@media screen and (max-width:480px) {
    .p{
        width: 40%;
        height: 20vh;
        margin: 6px 5px;
        border: 2px solid rgb(243, 242, 242);
        border-radius: 10px 10px 0px 0px;
        transition: 0.3s all ease-in;
        overflow: hidden;
    }

    .p-img{
        width: 70%;
        padding-top: 0;
    }

    .p-browser{
        height: 13px;
    }

}

